<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <header>
        <h1>URL Shortener</h1>
    </header>

    <div class="container">

        <h2>Accorcia i tuoi link</h2>
        <p>Trasforma un link lungo in uno corto</p>

        <div class="box1">
            <form action="/crea" method="POST">
                <input type="text" name="url_lungo" placeholder="Incolla qui il link (es. https://...)">
                <br><br>
                <label>Data di scadenza (opzionale):</label>
                <input type="date" name="scadenza">
                <br><br>
                <button type="submit">Accorcia</button>
            </form>

            {% if errore %}
                <p style="color: red;">{{ errore }}</p>
            {% endif %}

            {% if codice %}
                <p style="color: green;">
                    Link generato: <a href="/{{ codice }}">http://127.0.0.1:5000/{{ codice }}</a>
                </p>
            {% endif %}
        </div>

        <h2>I miei link</h2>

        <table border="1" cellpadding="5">
            <tr>
                <th>URL originale</th>
                <th>Link breve</th>
                <th>Click</th>
                <th>Data creazione</th>
                <th>Scadenza</th>
                <th>Azioni</th>
            </tr>

            {% for link in links %}
            <tr>
                <td>{{ link[0][:40] }}...</td>
                <td><a href="/{{ link[1] }}" target="_blank">{{ link[1] }}</a></td>
                <td>{{ link[2] }}</td>
                <td>{{ link[3][:10] }}</td>
                <td>
                    {% if link[4] %}
                        {{ link[4] }}
                    {% else %}
                        Nessuna
                    {% endif %}
                </td>
                <td><a href="/elimina/{{ link[1] }}">Elimina</a></td>
            </tr>
            {% endfor %}

            {% if links|length == 0 %}
            <tr>
                <td colspan="6">Nessun link creato ancora.</td>
            </tr>
            {% endif %}
        </table>

    </div>

    <p style="text-align:center; margin-top: 30px;">URL Shortener - Felix Olaru</p>

</body>
</html>